### Q1. Create a list of five integers and print it.

In [1]:
numbers=[1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [2]:
len(numbers)

5

### Q3. Create a tuple with three elements and print the second item.

In [3]:
el=(1,2,3)
list_el=list(el)
del list_el[1]
print(list_el)

[1, 3]

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [4]:
dict={'a': 1, 'b': 2, 'c': 3}
dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

### Q5. Write a program to convert a list into a set.

In [6]:
list1=[10,11,12,10]
list_set=set(list1)
print(list_set)

{10, 11, 12}

### Q6. Create a string and print its first and last characters.

In [7]:
str="AMIT Learning"
print(str[0])
print(str[-1])

A
g

### Q7. Take input from the user and print it.

In [10]:
user=input("enter smth")
print("you entered:",user)

you entered: amir

### Q8. Write a program to add two numbers entered by the user.

In [11]:
number1=float(input("enter num 1"))
number2=float(input("enter num 2"))
addition=number1+number2
print("the sum is ",addition)

the sum is  11.0

### Q9. Use `type()` function to check the data type of a variable.

In [12]:
var=50
type(var)

int

### Q10. Create a boolean variable and print it.

In [14]:
my_bool=True
print(my_bool)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [13]:
my_num=-5
if my_num>0:
    print("positive")
elif my_num<0:
    print("negative")
else:
    print("num is zero")

negative

### Q12. Write a program to check if a number is even or odd.

In [15]:
number=int(input("enter number"))
if number%2==0:
    print("even")
else:
    print("odd")

odd

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [16]:
my_name="Amir"
for i in range(3):
    print(my_name)

Amir
Amir
Amir

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [21]:
fruits = ["apple","banana","mango"]
for fruit in fruits:
    print(fruit)

apple
banana
mango

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [22]:
sum=0
for i in range(1,101):
    sum+=i
    print("the sum is",sum)

the sum is 1
the sum is 3
the sum is 6
the sum is 10
the sum is 15
the sum is 21
the sum is 28
the sum is 36
the sum is 45
the sum is 55
the sum is 66
the sum is 78
the sum is 91
the sum is 105
the sum is 120
the sum is 136
the sum is 153
the sum is 171
the sum is 190
the sum is 210
the sum is 231
the sum is 253
the sum is 276
the sum is 300
the sum is 325
the sum is 351
the sum is 378
the sum is 406
the sum is 435
the sum is 465
the sum is 496
the sum is 528
the sum is 561
the sum is 595
the sum is 630
the sum is 666
the sum is 703
the sum is 741
the sum is 780
the sum is 820
the sum is 861
the sum is 903
the sum is 946
the sum is 990
the sum is 1035
the sum is 1081
the sum is 1128
the sum is 1176
the sum is 1225
the sum is 1275
the sum is 1326
the sum is 1378
the sum is 1431
the sum is 1485
the sum is 1540
the sum is 1596
the sum is 1653
the sum is 1711
the sum is 1770
the sum is 1830
the sum is 1891
the sum is 1953
the sum is 2016
the sum is 2080
the sum is 2145
the sum is 2211
the sum is 2278
the sum is 2346
the sum is 2415
the sum is 2485
the sum is 2556
the sum is 2628
the sum is 2701
the sum is 2775
the sum is 2850
the sum is 2926
the sum is 3003
the sum is 3081
the sum is 3160
the sum is 3240
the sum is 3321
the sum is 3403
the sum is 3486
the sum is 3570
the sum is 3655
the sum is 3741
the sum is 3828
the sum is 3916
the sum is 4005
the sum is 4095
the sum is 4186
the sum is 4278
the sum is 4371
the sum is 4465
the sum is 4560
the sum is 4656
the sum is 4753
the sum is 4851
the sum is 4950
the sum is 5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [23]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [24]:
my_string="Hello Amir"
for char in my_string:
    print(char)

H
e
l
l
o

A
m
i
r

### Q19. Use a `for` loop to print all values in a dictionary.

In [26]:
person={"name": "amir", 'Age':"22", "address": "cairo"}
for value in person.values():
    print(value)

amir
22
cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [30]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

The factorial of 5 is 120

### Q21. Create a list of your 5 favorite fruits.

In [31]:
fav_fruits = ["Apple","Banana","Mango","Melon","Watermelon"]
fav_fruits

['Apple', 'Banana', 'Mango', 'Melon', 'Watermelon']

### Q22. Add a new fruit to your list of favorite fruits.

In [36]:
fav_fruits.append("dragon fruit")
fav_fruits

['Apple', 'Watermelon', 'dragon fruit', 'dragon fruit']

### Q23. Remove the second item from a list.

In [37]:
del fav_fruits[1]
fav_fruits

['Apple', 'dragon fruit', 'dragon fruit']

### Q24. Sort a list of numbers in descending order.

In [38]:
numbers = [2,4,5,6,8]
numbers.sort(reverse=True)
print(numbers)

[8, 6, 5, 4, 2]

### Q25. Find the maximum and minimum values in a list.

In [39]:
print(max(numbers))
print(min(numbers))

8
2

### Q26. Count how many times a value appears in a list.

In [40]:
numbers = [1, 2, 3, 2, 4, 2, 5]
numbers.count(2)

3

### Q27. Check if a specific value exists in a list.

In [41]:
numbers.index(2)

1

### Q28. Reverse a list without using reverse() function.

In [42]:
numbers = [1, 2, 3, 2, 4, 2, 5]
rev= numbers[::-1]
rev

[5, 2, 4, 2, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [45]:
copy = numbers.copy()

copy.remove(2)
print("Copy:",copy)

Copy: [1, 3, 2, 4, 2, 5]

### Q30. Use slicing to get the first 3 items of a list.

In [44]:
numbers_2 = numbers[::-1]
numbers_2

[5, 2, 4, 2, 3, 2, 1]

### Q31. Create a tuple with 4 elements and print its length.

In [46]:
my_tuple = (10, 20, 30, 40)
print(len(my_tuple))

4

### Q32. Access the last element of a tuple.

In [47]:
last_item = my_tuple[-1]

print(last_item)

40

### Q33. Convert a tuple into a list.

In [48]:
converted_list = list(my_tuple)

print(converted_list)

[10, 20, 30, 40]

### Q34. Convert a list into a tuple.

In [49]:
my_tuple = tuple(converted_list)

print(my_tuple)

(10, 20, 30, 40)

### Q35. Check if a value exists in a tuple.

In [50]:
my_tuple.index(30)

2

### Q36. Concatenate two tuples.

In [51]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined= tuple1 + tuple2
print(combined)

(1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [54]:
repeated_tuple = my_tuple * 3

print(repeated_tuple)

(1, 2, 4, 5, 6, 7, 1, 2, 4, 5, 6, 7, 1, 2, 4, 5, 6, 7)

### Q38. Find the index of an element in a tuple.

In [56]:
my_tuple = (10, 20, 30, 40)
my_tuple.index(30)

2

### Q39. Use tuple unpacking to assign values to variables.

In [57]:
coords = (5, 8)
x, y = coords
print(f"x = {x}, y = {y}")

x = 5, y = 8

### Q40. Create a nested list and access an inner element.

### Q41. Create a set of 5 unique colors.

In [58]:
unique_colors = {"red", "blue", "green", "yellow", "orange"}

print(unique_colors)

{'green', 'blue', 'yellow', 'orange', 'red'}

### Q42. Add a new color to the set.

In [59]:
unique_colors.add("purple")
unique_colors

{'blue', 'green', 'orange', 'purple', 'red', 'yellow'}

### Q43. Remove an item from the set using `remove()`.

In [60]:
unique_colors.remove("yellow")
unique_colors

{'blue', 'green', 'orange', 'purple', 'red'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [61]:
unique_colors.discard("yellow")
unique_colors

{'blue', 'green', 'orange', 'purple', 'red'}

### Q45. Create a set from a list with duplicate values.

In [62]:
new_list = ["1","2","4","2","5","6"]
my_set = set(new_list)

print(my_set)

{'6', '1', '2', '4', '5'}

### Q46. Find the union of two sets.

In [63]:

unique_colors.union(my_set)

{'1', '2', '4', '5', '6', 'blue', 'green', 'orange', 'purple', 'red'}

### Q47. Find the intersection of two sets.

In [64]:
unique_colors.intersection(my_set)

set()

### Q48. Find the difference between two sets.

In [65]:
unique_colors.difference(my_set)

{'blue', 'green', 'orange', 'purple', 'red'}

### Q49. Check if a set is a subset of another set.

In [66]:
unique_colors.issubset(my_set)

False

### Q50. Check if two sets are disjoint.

In [67]:
unique_colors.isdisjoint(my_set)

True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [68]:
person={"name": "amir", 'Age':"22", "city": "cairo"}

### Q52. Add a new key-value pair to the dictionary.

In [70]:
person.update({"address":"sheraton"})
person

{'name': 'amir', 'Age': '22', 'city': 'cairo', 'address': 'sheraton'}

### Q53. Update the value of an existing key in the dictionary.

In [71]:
person.update({"address":"mokattam"})
person

{'name': 'amir', 'Age': '22', 'city': 'cairo', 'address': 'mokattam'}

### Q54. Remove a key from the dictionary using `pop()`.

In [72]:
person.pop("address")
person

{'name': 'amir', 'Age': '22', 'city': 'cairo'}

### Q55. Check if a key exists in the dictionary.

In [82]:
person.get("phone")

### Q56. Loop through a dictionary and print all keys and values.

In [84]:
person.items()

dict_items([('name', 'amir'), ('Age', '22'), ('city', 'cairo')])

### Q57. Get all keys from a dictionary using `keys()`.

In [85]:
person.keys()

dict_keys(['name', 'Age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [86]:
person.values()

dict_values(['amir', '22', 'cairo'])

### Q59. Get all key-value pairs using `items()`.

In [ ]:
person.items()

dict_items([('name', 'amir'), ('Age', '22'), ('city', 'cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [89]:
keys = ["name", "age", "city"]
values = ["Amir", "22", "Cairo"]
my_dict = {keys[i]: values[i] for i in range(min(len(keys), len(values)))}
print(my_dict)

{'name': 'Amir', 'age': '22', 'city': 'Cairo'}